@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
  background-color: rgb(4 78 131);
}

.header-button{
  display: flex;
  padding: 20px;
  color: aliceblue;
  justify-content: right;
  align-items: center;
  gap:40px;
}


.containerFirst{
  display: flex;
  gap: 93px;
}

.footer{
 display: flex;
 gap: 264px;
 padding: 20px;
 background-color: #f0f0f3;
}


.footerTwo{
  justify-content: center;
}

